{% extends "base.html" %}

{% block content %}
<div class="antialiased sans-serif bg-gray-200 h-full">
  {% load compress %}
  {% compress css %}
  <style>
    [x-cloak] {
      display: none;
    }

    [type="checkbox"] {
      box-sizing: border-box;
      padding: 0;
    }

    .form-checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      display: inline-block;
      vertical-align: middle;
      background-origin: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      flex-shrink: 0;
      color: currentColor;
      background-color: #fff;
      border-color: #e2e8f0;
      border-width: 1px;
      border-radius: 0.25rem;
      height: 1.2em;
      width: 1.2em;
    }

    .form-checkbox:checked {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
      border-color: transparent;
      background-color: currentColor;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
  {% endcompress %}

  <div class="container mx-auto py-6 px-4" x-data="datatables()" x-cloak>
    <h1 class="text-3xl py-4 border-b mb-10 text-blue-300">Live Rankings</h1>

    <div class="bg-teal-200 my-8 left-0 bottom-0 right-0 z-40 w-full shadow">
      <div class="container mx-auto px-4 py-4">
        <div class="flex md:items-center">
          <div class="mr-4 flex-shrink-0">
            <svg class="h-8 w-8 text-teal-600" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" /></svg>
          </div>
          <div x-text="selectedRows.length + ' rows are selected'" class="text-teal-800 text-lg"></div>
          <button :disabled="Boolean(selectedRows.length===0)"
            class="ml-auto bg-gray-300 hover:bg-red-700 hover:text-white text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-800 disabled:font-bold uppercase">Delete</button>
          <button class="ml-6 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" @click="downloadTableAsCsv">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" /></svg>
            <span class="uppercase">Download CSV</span>
          </button>
        </div>
      </div>
    </div>

    <div class="mb-4 flex justify-between items-center">
      <div class="flex-1 pr-4">
        <div class="relative md:w-1/3">
          <input type="search" class="w-full pl-10 pr-4 py-2 rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Search...">
          <div class="absolute top-0 left-0 inline-flex items-center p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
              <circle cx="10" cy="10" r="7" />
              <line x1="21" y1="21" x2="15" y2="15" />
            </svg>
          </div>
        </div>
      </div>
      <div>
        <div class="shadow rounded-lg flex">
          <div class="relative">
            <button @click.prevent="open = !open" class="rounded-lg inline-flex items-center bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline text-gray-500 font-semibold py-2 px-2 md:px-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:hidden" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                <path d="M5.5 5h13a1 1 0 0 1 0.5 1.5L14 12L14 19L10 16L10 12L5 6.5a1 1 0 0 1 0.5 -1.5" />
              </svg>
              <span class="hidden md:block">Columns</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                <polyline points="6 9 12 15 18 9" />
              </svg>
            </button>

            <div x-show="open" @click.away="open = false" class="z-40 absolute top-0 right-0 w-40 bg-white rounded-lg shadow-lg mt-12 -mr-1 block py-1 overflow-hidden">
              <template x-for="heading in headings">
                <label class="flex justify-start items-center text-truncate hover:bg-gray-100 px-4 py-2">
                  <div class="text-teal-600 mr-3">
                    <input type="checkbox" class="form-checkbox focus:outline-none focus:shadow-outline" checked @click="toggleColumn(heading.key)">
                  </div>
                  <div class="select-none text-gray-700" x-text="heading.value"></div>
                </label>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative">
      <table id="scoreboard-table" class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
              <label class="text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer">
                <input id="selectAllCheckbox" type="checkbox" class="form-checkbox focus:outline-none focus:shadow-outline" @click="selectAllCheckboxes($event);">
              </label>
            </th>
            <template x-for="heading in headings">
              <th class="bg-gray-100 sticky top-0 border-b border-gray-200 px-6 py-2 text-gray-600 font-bold tracking-wider uppercase text-xs" x-text="heading.value" :x-ref="heading.key" :class="{ [heading.key]: true }"></th>
            </template>
          </tr>
        </thead>
        <tbody>
          <template x-for="project in projects" :key="project.projectId">
            <tr>
              <td class="border-dashed border-t border-gray-200 px-3">
                <label class="text-teal-500 inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-lg cursor-pointer">
                  <input type="checkbox" class="form-checkbox rowCheckbox focus:outline-none focus:shadow-outline" :name="project.projectId" @click="getRowDetail($event, project.projectId)">
                </label>
              </td>
              <!-- TODO: would be nice to be able to x-for over project's attributes -->
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.projectId"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.name"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.location"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.description"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.mean"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.variance"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.numberOfVotes"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.timesSeen"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.timesSkipped"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.prioritize"></span>
              </td>
              <td class="border-dashed border-t border-gray-200">
                <span contenteditable="true" class="text-gray-700 px-6 py-3 flex items-center" x-text="project.active"></span>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  {% compress js %}
  <!-- {% load static %}
  <script src="{% static "js/tablesort/tablesort.min.js" %}"></script>
  <script src="{% static "js/tablesort/tablesort.number.min.js" %}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/eligrey/Blob.js/Blob.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
  <script>
    function datatables() {
      var headings = [{
          'key': 'projectId',
          'value': 'ID'
        },
        {
          'key': 'name',
          'value': 'Name'
        },
        {
          'key': 'location',
          'value': 'Location'
        },
        {
          'key': 'description',
          'value': 'Description'
        },
        {
          'key': 'mean',
          'value': 'Mu'
        },
        {
          'key': 'variance',
          'value': 'Sigma Squared'
        },
        {
          'key': 'numberOfVotes',
          'value': 'Votes'
        },
        {
          'key': 'timesSeen',
          'value': 'Seen'
        },
        {
          'key': 'timesSkipped',
          'value': 'Skipped'
        },
        {
          'key': 'prioritize',
          'value': 'Prioritize'
        },
        {
          'key': 'active',
          'value': 'Active'
        }
      ];
      var projects = [{
        "projectId": 1,
        "name": "verifEye",
        "location": "Room 47",
        "description": "A fast and lightweight utility to detect online identity theft and fake news using machine learning",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 2,
        "name": "melon",
        "location": "Room 47",
        "description": "Can't pick the ripest watermelon without splitting it open? Fear not! \"melon\" uses a neural network to predict the quality of watermelons through data collected by sound sensor and impulse deliverer.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 3,
        "name": "Biopath",
        "location": "Room 47",
        "description": "Automating the Assessment of Involuntary Hand Movement's Role in Neurodegenerative Disease",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 4,
        "name": "CrowdReader",
        "location": "Room 47",
        "description": "Presentations will never be the same. In an instant, CrowdReader gives live feedback to the presenter on the reaction of the audience allowing them to adjust mid-speech and gain intel on the public.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 5,
        "name": "Hummer",
        "location": "Room 47",
        "description": "A New Way to Share your Music with the World",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 6,
        "name": "Dēmos",
        "location": "Room 47",
        "description": "Exercise your democratic power - secure voting and empowerment of citizens to make civic change",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 7,
        "name": "CodeBlocks",
        "location": "Room 47",
        "description": "Making functions with real life code blocks.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 8,
        "name": "IoTrespassing",
        "location": "Room 47",
        "description": "If you have a crazy ex, then you know that having a camera security system is very important. But what happens when you have multiple crazy exes? That's where IoTrespassing comes in.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 9,
        "name": "Dealight",
        "location": "Room 47",
        "description": "Deals that Delight",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 10,
        "name": "Pinpoint",
        "location": "Room 47",
        "description": "The new easy way to get around town!",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 11,
        "name": "A Penny Saved",
        "location": "Room 47",
        "description": "financial solutions for the modern age",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 12,
        "name": "Capital Connections",
        "location": "Room 47",
        "description": "Capital Connections is a recommendation engine that leverages predictive analytics to recommend partnerships to capitol one to further drive customer usage and loyalty.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 13,
        "name": "Homemade Housing",
        "location": "Room 47",
        "description": "Calculates Average Housing Sales Based on a slew of Metrics",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 14,
        "name": "Haven",
        "location": "Room 47",
        "description": "Connect. Collaborate. Community. Our lives are centered around and affected by where we choose to live and Haven strives to make the process of acquiring and living in a home safer and approachable.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 15,
        "name": "GoVRnment",
        "location": "Room 47",
        "description": "A VR simulation based application that enables the user to become more informed about government and encourages them to become more involved in the political process.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 16,
        "name": "CAPConnect",
        "location": "Room 47",
        "description": "Encouraging civic engagement by connecting potential volunteers to local campaigns or guiding them through the creation of their own campaign.",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }, {
        "projectId": 17,
        "name": "City Samaritans",
        "location": "Room 47",
        "description": "We connect the helpful to the poor and needy",
        "mean": 3,
        "variance": 2.3,
        "numberOfVotes": 5,
        "timesSeen": 9,
        "timesSkipped": 1,
        "prioritize": false,
        "active": true,
      }];
      return {
        headings: headings,
        projects: projects,
        selectedRows: [],

        open: false,

        toggleColumn(key) {
          // Note: All td must have the same class name as the headings key!
          let columns = document.querySelectorAll('.' + key);

          if (this.$refs[key].classList.contains('hidden') && this.$refs[key].classList.contains(key)) {
            columns.forEach(column => {
              column.classList.remove('hidden');
            });
          } else {
            columns.forEach(column => {
              column.classList.add('hidden');
            });
          }
        },

        deleteSelectedColumns($event) {

        },

        getRowDetail($event, id) {
          let rows = this.selectedRows;

          if (rows.includes(id)) {
            let index = rows.indexOf(id);
            rows.splice(index, 1);
          } else {
            rows.push(id);
          }

          if (this.selectedRows.length === this.projects.length) {
            document.getElementById('selectAllCheckbox').checked = true;
          }
        },

        selectAllCheckboxes($event) {
          let columns = document.querySelectorAll('.rowCheckbox');

          this.selectedRows = [];

          if ($event.target.checked == true) {
            columns.forEach(column => {
              column.checked = true
              this.selectedRows.push(parseInt(column.name))
            });
          } else {
            columns.forEach(column => {
              column.checked = false
            });
            this.selectedRows = [];
          }
        },

        downloadTableAsCsv($event) {
          var selectedRowsData;
          if (this.selectedRows.length === 0) {
            selectedRowsData = projects;
          } else {
            selectedRowsData = projects.filter(project => this.selectedRows.includes(project.projectId));
          }

          // the first element of selectedColumns is '', because of the
          // checkbox column.
          // we don't want this, but it doesn't matter because of the filter
          // during the assignment of selectedData.
          // if we were using jQuery, we might be able to avoid the '' by
          // changing the query to th:not(.hidden :has( > label)) (untested).
          let selectedColumns = Array.from(document.querySelectorAll('th:not(.hidden)')).map(thDomElement => thDomElement.innerText);
          let allHeadingLabels = this.headings.map(heading => heading.value);
          let unselectedColumns = allHeadingLabels.filter(n => !selectedColumns.includes(n.toUpperCase()));

          let getHeadingIdfromLabel = label => headings.find(heading => heading.value.toUpperCase() === label.toUpperCase())?.key;
          let headingIdsToRemove = unselectedColumns.map(getHeadingIdfromLabel).filter(el => el != null);
          function removeHeadings(selectedRowData) {
            selectedRowData = new Map(Object.entries(selectedRowData));
            headingIdsToRemove.forEach(function(headingId) {
              selectedRowData.delete(headingId);
              delete selectedRowData[headingId];
              // selectedRowData[headingId] = undefined;
              return selectedRowData;
            });
            return Object.fromEntries(selectedRowData);
          }
          let selectedData = selectedRowsData.map(removeHeadings);

          // convert JS object to CSV string
          // https://stackoverflow.com/a/31536517/7127932
          let fields = Object.keys(selectedData[0]);
          let replacer = (key, value) => value === null ? '' : value;  // replace null values with ''
          var csv = selectedData.map(row => fields.map(fieldName => JSON.stringify(row[fieldName], replacer)).join(','));
          csv.unshift(fields.join(',')) // add header column
          let output = "\ufeff" + csv.join('\r\n');

          const blob = new Blob([output]); // includes extra columns
          const fileName = 'export_' + new Date().toLocaleDateString() + '.csv';
          const fileStream = streamSaver.createWriteStream(fileName, {
            size: blob.size,
            // writableStrategy: undefined, // (optional)
            // readableStrategy: undefined  // (optional)
          });
          const readableStream = blob.stream();
          // more optimized pipe version
          // (Safari may have pipeTo but it's useless without the WritableStream)
          if (window.WritableStream && readableStream.pipeTo) {
            return readableStream.pipeTo(fileStream).then(() => console.log('done downloading CSV data'))
          }

          // Write (pipe) manually
          window.writer = fileStream.getWriter();

          const reader = readableStream.getReader();
          const pump = () => reader.read()
            .then(res => res.done ?
              writer.close() :
              writer.write(res.value).then(pump));
          pump();

          // abort so it dose not look stuck
          window.onunload = () => {
            writableStream.abort();
            // also possible to call abort on the writer you got from `getWriter()`
            writer.abort();
          }
        }
      }
    }
    // new Tablesort(document.getElementById('scoreboard-table'));

    const tableSocket = new WebSocket(
      'ws://' +
      window.location.host +
      '/ws/judge/scoreboard/'
    );
    tableSocket.onmessage = function(e) {
      // update datatables().projects
    };

    tableSocket.onclose = function(e) {
      console.error('WebSocket closed unexpectedly.');
    };

    document.querySelectorAll('span[contenteditable]').forEach(editable => editable.addEventListener('change', (e) => {
      const changedCell = e.target;
      const newCellValue = changedCell.value; // string
      // changedCell is span
      // changedCell.parentNode is td
      // changedCell.parentNode.parentNode is tr
      const changedCellId = changedCell.parentNode.parentNode.children;
      console.log(changedCellId);
      // tableSocket.send(JSON.stringify(
      //   {
      //     'projectId': changedCellId,
      //     'changedKey': changedKey,
      //     'newValue': newCellValue
      //   }
      // ));
    }));
  </script>
  {% endcompress %}
</div>
<script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
<script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine-ie11.min.js" defer></script>
{% endblock %}
