{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block content %}

<div class="w-2/3 content-center justify-center text-center mx-auto">
  <h1 class="text-2xl text-center">{% translate "Password Reset" %}</h1>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% translate 'Reset My Password' %}" />
  </form>

  <p>{% translate "Please contact us if you have any trouble resetting your password." %}</p>
</div>
{% endblock %}
