{% extends "base.html" %}

{% block content %}
<section>
  <div class="pt-24">
    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <ul>
        <li><a href="https://www.tailwindtoolbox.com/templates/landing-page">Template from: Tailwind Toolbox</a></li>
        <li><a href="http://www.potlabicons.com/">Icons from: www.potlabicons.com</a></li>
        <li><a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a></li>
        <li><a class="text-orange-500 underline" href="https://undraw.co/">Images from: undraw.co</a></li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
