{% extends "base.html" %}

{% block content %}
<section>
  <h1 class="text-5xl font-bold text-center mb-4">Credits</h1>
  <ul class="text-center">
    <li>Landing page from: <a class="underline"
        href="https://www.tailwindtoolbox.com/templates/landing-page">Tailwind Toolbox</a></li>
    <li>Icons from <a class="underline" href="https://heroicons.com/">Heroicons</a></li>
    <li>Landing image from:<a class="underline" href="https://undraw.co/">undraw.co</a></li>
    <li>Scoreboard table from: <a class="underline"
        href="https://tailwindcomponents.com/component/table-ui-with-tailwindcss-and-alpinejs">Tailwind Toolbox</a></li>
  </ul>
</section>
{% endblock %}