{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="w-2/3 content-center justify-center text-center mx-auto mb-6">
    <h1 class="text-2xl text-center">{% translate "Start Judging" %}</h1>
    <a class="text-indigo-700 hover:underline" href="{% url 'judge:index' %}">{% translate "Return to Judge Home" %}</a>
    <div class="mt-2">{% include "judge/presentation_timer.html" %}</div>

    <div class="mx-5 pt-8 grid place-content-center">
        <div
            class="bg-gradient-to-r from-blue-400 to-indigo-500 rounded-2xl text-white p-8 text-center h-72 max-w-sm mx-auto">
            <h1 class="text-3xl mb-3">Listen</h1>
            <p class="text-lg">Listen to the current project's presentation. This is your first project, so you won't
                make a decision yet. When the presentation is over, click "Done".</p>
        </div>
        <div
            class="flex-1 bg-white py-8 px-10 text-center rounded-md shadow-lg transform -translate-y-20 sm:-translate-y-16 mx-auto text-blue-600">
            <h2 class="font-semibold text-2xl mb-3 text-blue-500">Current</h2>
            <p class="text-xl mt-1">{{ current.name }}</p>
            <p class="mt-1">{{ current.description }}</p>
            <p class="mt-1">Location: {{ current.location }}</p>
            <div class="grid grid-cols-1 mt-2 mb-12" style="row-gap: 0.5rem">
                {% for tag in current.tags %}
                <span class="flex border rounded-full py-2 px-3 justify-center mx-auto w-full">{{ tag }}</span>
                {% endfor %}
            </div>
            <a class="mt-0 rounded-md bg-gradient-to-r from-blue-400 to-indigo-500 hover:from-blue-300 hover:to-indigo-400 text-xl text-white pt-3 pb-4 px-8 inline"
                href="{{ current.link }}" target="_blank" rel="noopener">Devpost</a>
        </div>
    </div>
    <form action="{% url 'judge:begin' %}" method="POST"
        class="text-black flex flex-col sm:flex-row justify-center items-center sm:items-baseline flex-wrap space-x-4 space-y-4 sm:space-x-0">
        {% csrf_token %}
        <input
            class="mx-auto sm:mx-0 sm:rounded-r-none flex justify-center px-4 py-2 rounded cursor-pointer border duration-200 ease-in-out transition-colors hover:bg-gray-600 hover:border-gray-600 hover:text-white"
            name="action" type="submit" value="Done">
        <input
            class="mx-auto sm:mx-0 sm:rounded-l-none flex justify-center px-4 py-2 rounded cursor-pointer border duration-200 ease-in-out transition-colors hover:bg-gray-600 hover:border-gray-600 hover:text-white"
            name="action" type="submit" value="Skip">
        <input type="hidden" name="project_id" value="{{ current.id }}">
    </form>
</div>
{% endblock content %}
