{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="w-2/3 content-center justify-center text-center mx-auto space-y-4">
    <h1 class="text-2xl text-center">{% translate "Judging Complete!" %}</h1>
    <p class="text-center">You have finished judging for all projects at HackTJ! On behalf of the attendees, we would
        like to extend our sincere gratitude to you for making this event possible. You may now look at projects you may
        have skipped or visit the <a class="text-indigo-600 hover:underline" href="{% url 'judge:scoreboard' %}">scoreboard</a>
        to see results!</p>
</div>
{% endblock content %}
