{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="w-2/3 content-center justify-center text-center mx-auto space-y-4">
  <h1 class="text-2xl text-center">{% translate "Vote" %}</h1>
  <a href="/judge" class="text-indigo-700 hover:underline">Return to Judge Home</a>
  <div>
    <h2>Previous</h2>
    <h3>{{ prev.name }}</h3>
    <p>{{ prev.description }}</p>
  </div>
  <div>
    <h2>Current</h2>
    <h3>{{ next.name }}</h3>
    <p>{{ next.description }}</p>
  </div>
  Which project is better?
  <form action="/judge/vote" method="POST" class="space-x-4 text-black">
    <input class="px-4 py-2 rounded cursor-pointer" name="action" type="submit" value="previous" />
    <input class="px-4 py-2 rounded cursor-pointer" name="action" type="submit" value="current" />
    <input class="px-4 py-2 rounded cursor-pointer" name="action" type="submit" value="skip" />
    <input type="hidden" name="prev_id" value="{{ prev.id }}">
    <input type="hidden" name="next_id" value="{{ next.id }}">
  </form>
</div>
{% endblock content %}
