{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="w-2/3 content-center justify-center text-center mx-auto space-y-4 mb-6">
  <h1 class="text-2xl text-center">{% translate "Vote" %}</h1>
  <a href="{% url 'judge:index' %}" class="text-indigo-700 hover:underline">Return to Judge Home</a>
  <div class="flex flex-wrap">
    <div class="bg-blue-200 lg:w-1/3 mx-auto my-3 pb-2 rounded">
      <h2 class="bg-blue-400 text-xl rounded-t px-4">Previous</h2>
      <h3 class="text-lg text-black px-4">{{ prev.name }}</h3>
      <p class="text-gray-700 px-4">{{ prev.description }}</p>
      <p class="text-gray-700">
        {% for tag in prev.tags %}
          <span>{{ tag }}</span>
        {% endfor %}
      </p>
      <p class="text-gray-700 px-4"><b>Link: </b><a href="{{ prev.link }}">Devpost</a></p>
    </div>
    <div class="bg-blue-200 lg:w-1/3 mx-auto my-3 pb-2 rounded">
      <h2 class="bg-blue-400 text-xl rounded-t px-4">Current</h2>
      <h3 class="text-lg text-black px-4">{{ current.name }}</h3>
      <p class="text-gray-700 px-4">{{ current.description }}</p>
      <p class="text-gray-700">
        {% for tag in current.tags %}
          <span>{{ tag }}</span>
        {% endfor %}
      </p>
      <p class="text-gray-700 px-4"><b>Link: </b><a href="{{ current.link }}">Devpost</a></p>
    </div>
  </div>
  <form action="{% url 'judge:vote' %}" method="POST" class="space-x-4 space-y-4 sm:space-x-0">
    {% csrf_token %}

    {% for criterion_id, criterion_label in criteria.items %}
    <div>
        <p>Which project is better with respect to {{ criterion_label }}?</p>
        <label class="mr-1">
          <input class="border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="criterion_{{ criterion_id }}" type="radio" value="previous"/>
          Previous
        </label>
        <!-- TODO: skip -->
        <label class="ml-1">
          <input class="border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="criterion_{{ criterion_id }}" type="radio" value="current"/>
          Current
        </label>
    </div>
    {% endfor %}

    <input type="hidden" name="prev_id" value="{{ prev.id }}">
    <input type="hidden" name="current_id" value="{{ current.id }}">

    <input class="mx-auto justify-center px-4 py-2 rounded cursor-pointer border duration-200 ease-in-out transition-colors text-gray-800 hover:bg-gray-600 hover:border-gray-600 hover:text-white" type="submit" />
  </form>
</div>
{% endblock content %}
