{% extends "spreadsheet.html" %}

{% block headings %}
<script>
    const headings = [
        {
            'key': 'id',
            'value': 'ID'
        },
        {
            'key': 'name',
            'value': 'Name'
        },
        {
            'key': 'description',
            'value': 'Description'
        },
    ];
</script>
{% endblock %}


{% block data %}

{% comment "TODO: this is safer than |escapejs" %}
{{ projects|json_script:"projects-data" }}
{% endcomment %}
<script>
    const data = JSON.parse("{{ projects|escapejs }}").map(project => {
        let projectProperties = project.fields;
        projectProperties.projectId = project.pk;
        return projectProperties;
    });
    // const data = Array.from(JSON.parse(document.getElementById('projects-data').textContent)).map(project => project.fields);
</script>
{% endblock %}
