{% extends "spreadsheet.html" %}

{% block headings %}
{{ criteria|json_script:"criteria" }}
<script>
    const criteria = JSON.parse(document.getElementById('criteria').textContent);
    const headings = [
        {
            'key': 'projectId',
            'value': 'ID'
        },
        {
            'key': 'name',
            'value': 'Name'
        },
        {
            'key': 'description',
            'value': 'Description'
        },
        {
            'key': 'tags',
            'value': 'Tags'
        },
        ...Object.keys(criteria).map(key => {
            return { key: `${key}_mean`, value: `${criteria[key]} Mean` };
          },
        ),
        ...Object.keys(criteria).map(key => {
            return { key: `${key}_variance`, value: `${criteria[key]} Variance` };
          },
        ),
        {
            'key': 'numberOfVotes',
            'value': 'Votes'
        },
        {
            'key': 'timesSeen',
            'value': 'Seen'
        },
        {
            'key': 'timesSkipped',
            'value': 'Skipped'
        },
        {
            'key': 'prioritize',
            'value': 'Prioritize'
        },
        {
            'key': 'active',
            'value': 'Active'
        },
    ];
</script>
{% endblock %}


{% block data %}

{% comment "TODO: this is safer than |escapejs" %}
{{ projects|json_script:"projects-data" }}
{% endcomment %}

<script>
    const data = JSON.parse("{{ projects|escapejs }}").map(project => {
        let projectProperties = project.fields;
        projectProperties.projectId = project.pk;
        projectProperties.tags = project.fields.tags !== "[\"\"]" ? JSON.parse(project.fields.tags).join(", ") : "None";
        for (const criterionId in criteria) {
          const meanKey = `${criterionId}_mean`;
          const varianceKey = `${criterionId}_variance`;
          projectProperties[meanKey] = parseFloat(project.fields[meanKey]);
          projectProperties[varianceKey] = parseFloat(project.fields[varianceKey]);
        }
        return projectProperties;
    });
    // const data = Array.from(JSON.parse(document.getElementById('projects-data').textContent)).map(project => project.fields);
</script>
{% endblock %}
