{% extends "spreadsheet.html" %}

{% block headings %}
<script>
  const headings = [
    {
      'key': 'id',
      'value': 'ID'
    },
    {
      'key': 'name',
      'value': 'Name'
    },
    {
      'key': 'location',
      'value': 'Location'
    },
    {
      'key': 'description',
      'value': 'Description'
    },
    {
      'key': 'mean',
      'value': 'Mu'
    },
    {
      'key': 'variance',
      'value': 'Sigma Squared'
    },
    {
      'key': 'numberOfVotes',
      'value': 'Votes'
    },
    {
      'key': 'timesSeen',
      'value': 'Seen'
    },
    {
      'key': 'timesSkipped',
      'value': 'Skipped'
    },
    {
      'key': 'prioritize',
      'value': 'Prioritize'
    },
    {
      'key': 'active',
      'value': 'Active'
    },
  ];
</script>
{% endblock %}


{% block data %}

{% comment "TODO: this is safer than |escapejs" %}
{{ projects|json_script:"projects-data" }}
{% endcomment %}
{{ criteria|json_script:"criteria" }}

<script>
  const criteria = JSON.parse(document.getElementById('criteria').textContent));
  console.log(criteria);
  const data = JSON.parse("{{ projects|escapejs }}").map(project => {
    let projectProperties = project.fields;
    projectProperties.projectId = project.pk;
    projectProperties.means = JSON.parse(project.fields.means).map(meanStr => parseFloat(meanStr));
    projectProperties.variances = JSON.parse(project.fields.variances).map(varianceStr => parseFloat(varianceStr));
    return projectProperties;
  });
  // const data = Array.from(JSON.parse(document.getElementById('projects-data').textContent)).map(project => project.fields);
</script>
{% endblock %}
